#boxHackerface { 
	float:right;
	width:300px;
	position:relative;
	font-size:12px;
}

#boxHackerfaceInner { 
	width:300px;
	position:fixed;
/*
	margin-top:24px;
	margin-left:-2px;
*/
	background:#ECEDE6;
	border:#D4D4CF solid thin;
	border-bottom:none;
	word-wrap:break-word;
	table-layout:fixed;
	overflow-x:hidden;
	opacity:0.95;
	-webkit-font-smoothing:antialiased;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

#boxHackerfaceInner:hover { 
	opacity:1;
}

.hackerboxHidden {
	display:none;
}

#hackerfaceHide {
	position:relative;
	left:-5px;
}

.hackerfaceCross {
	position:fixed;
	margin-left:285px;
	z-index:100;
	cursor:pointer;
	color:black;
	opacity:0.5;
}

.hackerfaceCross:hover {
	opacity:1;
}

.hackerfaceEntry {
	display:table;
/*
	width:280px;
	max-width:280px;
*/
	width:100%;
	padding:10px;
	border-top:#F9FAF2 solid thin;
	border-bottom:#D4D4CF solid thin;
	cursor:pointer;
	white-space: pre-line;
	word-wrap:break-word;
	table-layout:fixed;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}

.hackerfaceEntry:hover {
	background:#E4E6DC;
}

.hackerfaceError {
	background:#E4E6DC;
}

.hackerfaceSubentry {
	width:240px;
	margin-left:25px;
	margin-top:5px;
}

.hackerfaceSubentry p {
	margin:0px;
	padding:0px;
	padding-bottom:2px;
}

#boxHackerfaceInner a {
	color:black;
}

#boxHackerfaceInner a:hover {
	text-decoration:underline;
}

#boxHackerfaceInner .hackerfaceIcon {
	position:absolute;
	width:15px;
}

.hackerfaceUsername {
	margin-left:25px;
}

.hackerfaceUsername a {
	font-weight:bold;
}