#boxHackerface { 
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
	float:right;
	width:300px;
	position:relative;
	font-size:12px;
}

#boxHackerfaceInner { 
	width:300px;
	position:fixed;
	margin-top:24px;
	margin-left:-2px;
	background:#ECEDE6;
	border:#D4D4CF solid thin;
	border-bottom:none;
}

#boxHackerfaceInner:hover { 
	opacity:1;
}

.hackerboxHidden {
	display:none;
}

.hackerfaceCross {
	position:fixed;
	margin-left:285px;
	margin-top:30px;
	z-index:100;
	cursor:pointer;
	color:black;
	opacity:0.5;
}

.hackerfaceCross:hover {
	opacity:1;
}

.hackerfaceEntry {
	display:table;
	width:280px;
	max-width:280px;
	padding:10px;
	border-top:#F9FAF2 solid thin;
	border-bottom:#D4D4CF solid thin;
	cursor:pointer;
	white-space: pre-line;
	word-wrap:break-word;
}

.hackerfaceEntry:hover {
	background:#E4E6DC;
}

#boxHackerfaceInner a {
	color:black;
}

#boxHackerfaceInner a:hover {
	text-decoration:underline;
}

#boxHackerfaceInner .hackerfaceIcon {
	position:absolute;
	width:15px;
}

#boxHackerfaceInner .hackerfaceUsername {
	margin-left:20px;
}

.yfacerPic {
	width:19px;
	height:19px;
	border-radius:1px;
	box-shadow:transparent;
	border:none;
	padding:0px;
	display:none;
	background:#F6F7EF;

	position:absolute;	
	margin-top:-1px;
	margin-left:4px;
/*
	margin-left:-35px;
	margin-top:2px;
*/
}

.yfacerName {
/*
	font-weight:bold;
*/
}