.yfacerPic {
	width:26px;
	height:26px;
	position:absolute;
	margin-left:-35px;
	margin-top:2px;
	border-radius:1px;
	box-shadow:transparent;
	border:none;
	padding:0px;
	display:none;
	background:#F6F7EF;
}

.yfacerName {
	font-weight:bold;
}